
*{
    margin: 0;
    padding: 0;
    font-family:  "Bricolage Grotesque", sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(./assets/patrick-tomasso-5hvn-2WW6rY-unsplash.jpg); 
    background-size: cover;
    background-position: center;
}

.wrapper{
    width: 520px;
    background: transparent;
    color: #fff;
    border-radius: 12px;
    padding: 30px 40px;
    border: 2px solid #360033;;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
    color:#360033;
}

.wrapper .input-box {
    width: 100%;
    height: 50px;
    margin: 30px 0;
    
}    

.input-box h2 {
    margin-bottom: 5px;
    margin-top: 10px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background:transparent;
    border: none;
    outline: none;
    border: 2px solid white;
    border-radius: 40px;
    font-size:16px;
    color:#360033;
    padding:20px 45px 20px 20px;
    margin-bottom: 10px;
    font-family:  "Poppins", sans-serif;
}

.input-box input::placeholder{
    color:#fff;
}

.btn {
    background-image: linear-gradient(to right, #360033 0%, #0b8793  51%, #360033  100%);
    margin: 10px;
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    box-shadow: 0 0 10px rgba(0,0,0, .1);
    border-radius: 40px;
    cursor: pointer;
    font-size:16px;
    color: #fff;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 10px;

}

.btn2 {
    background-image: linear-gradient(to right, #360033 0%, #0b8793  51%, #360033  100%);
    margin: 10px;
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    box-shadow: 0 0 10px rgba(0,0,0, .1);
    border-radius: 40px;
    cursor: pointer;
    font-size:16px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 20px 0 15px;
}


